<h1>Merchant Dashboard</h1>
  <section class='merchant-info'>
    <h3><%= @merchant.name %></h3>
    <%= @merchant.address %>,
    <%= @merchant.city %>,
    <%= @merchant.state %>
    <%= @merchant.zip %>
  </section>

<h2>Pending Orders:</h2>
  <section class='pending-orders'>
    
