<h1>Merchant Dashboard</h1>
  <section class='merchant-info'>
    <h3><%= @merchant.name %></h3>
    <%= @merchant.address %>,
    <%= @merchant.city %>,
    <%= @merchant.state %>
    <%= @merchant.zip %>
  </section>
  
<p><%= link_to "My Items", "/merchant/items" %></p>
<p><%= link_to "Set My Discounts", "/merchant/bulk_discounts" %></p>

<h3>Pending Orders:</h3>
<% @merchant.pending_orders.each do |order| %>
    <section class='pending-orders-<%= order.id %>'>
      <h4><%= link_to "Order ID: #{order.id}", "/merchant/orders/#{order.id}" %></h4>
      <li>Order Status: <%= order.created_at %></li>
      <li>Total Items: <%= order.total_item_count(@merchant.id) %></li>
      <li>Total Value: $<%= order.total_item_value(@merchant.id) %></li>
<% end %>


