<center>
  <h1>Edit a Discount</h1>
  <%= form_tag "/merchant/bulk_discounts", method: :post do %>
    <%= label_tag "Discount Title" %>
    <%= text_field_tag :title%>

    <%= label_tag "Minimum Items For Discount" %>
    <%= text_field_tag :minimum_item_quantity %>

    <%= label_tag "Percentage Discount" %>
    <%= text_field_tag :percent_discount %>

    <%= submit_tag 'Create This Discount' %>
  <% end %>
</center>