<h1>Orders:</h1>
<% Order.packaged.each do |order| %>
  <h3><%= link_to "#{order.user.name}", "/admin/profile/#{order.user.id}" %></h3>
  <p>Order ID: <%= order.id %></p>
  <p>Order Created: <%= order.created_at.strftime("%m-%d-%Y") %></p>
<% end %>
<% Order.pending.each do |order| %>
  <h3><%= link_to "#{order.user.name}", "/admin/profile/#{order.user.id}" %></h3>
  <p>Order ID: <%= order.id %></p>
  <p>Order Created: <%= order.created_at.strftime("%m-%d-%Y") %></p>
<% end %>
<% Order.shipped.each do |order| %>
  <h3><%= link_to "#{order.user.name}", "/admin/profile/#{order.user.id}" %></h3>
  <p>Order ID: <%= order.id %></p>
  <p>Order Created: <%= order.created_at.strftime("%m-%d-%Y") %></p>
<% end %>
<% Order.cancelled.each do |order| %>
  <h3><%= link_to "#{order.user.name}", "/admin/profile/#{order.user.id}" %></h3>
  <p>Order ID: <%= order.id %></p>
  <p>Order Created: <%= order.created_at.strftime("%m-%d-%Y") %></p>
<% end %>
