<h1>Orders:</h1>
<section id="packaged">
<h2>Packaged Orders</h2>
<% Order.packaged.each do |order| %>
  <h3><%= link_to "#{order.user.name}", "/admin/users/#{order.user.id}" %></h3>
  <p>Order ID: <%= order.id %></p>
  <p>Order Created: <%= order.created_at.strftime("%m-%d-%Y") %></p>
  <p><%= link_to "Ship Order", "/orders/#{order.id}", method: :put %></p>
<% end %>
</section>
<section id="pending">
<h2>Pending Orders</h2>
<% Order.pending.each do |order| %>
  <h3><%= link_to "#{order.user.name}", "/admin/users/#{order.user.id}" %></h3>
  <p>Order ID: <%= order.id %></p>
  <p>Order Created: <%= order.created_at.strftime("%m-%d-%Y") %></p>
<% end %>
</section>
<section id="shipped">
<h2>Shipped Orders</h2>
<% Order.shipped.each do |order| %>
  <h3><%= link_to "#{order.user.name}", "/admin/users/#{order.user.id}" %></h3>
  <p>Order ID: <%= order.id %></p>
  <p>Order Created: <%= order.created_at.strftime("%m-%d-%Y") %></p>
<% end %>
</section>
<section id="cancelled">
<h2>Cancelled Orders</h2>
<% Order.cancelled.each do |order| %>
  <h3><%= link_to "#{order.user.name}", "/admin/users/#{order.user.id}" %></h3>
  <p>Order ID: <%= order.id %></p>
  <p>Order Created: <%= order.created_at.strftime("%m-%d-%Y") %></p>
<% end %>
</section>
<center>
<%= link_to "View Merchants", "/admin/merchants" %>
</center>
