
  <h1><%= @user.name %></h1>
  <h2><%= @user.email %></h2>
  <p><%= @user.address %></p>
  <p><%= @user.city + ", " + @user.state %></p>
  <p><%= @user.zip %></p>
  <p><%= link_to "Edit", "/profile/edit" %></p>
  <p><%= link_to "Edit Password", "/profile/password" %></p>
  <%= link_to "Orders", '/profile/orders' %>
