<div id="valid-merchants">
  <h1 align = "center">Merchants</h1>
  <p align="center"><%= link_to "New Merchant", "/merchants/new" %></p>
  <section class = "grid-container">
    <% @merchants.each do |merchant|%>
      <% if !merchant.disabled? %>
      <section class = "grid-item", id="merchant-<%= merchant.id %>">
        <h2><%=link_to merchant.name, "/admin/merchants/#{merchant.id}"%></h2>
        <p><%=button_to "Disable", "/admin/merchants/#{merchant.id}", method: :patch%></p>
      </section>
      <% end %>
    <% end %>
  </section>
</div>
<div id="disabled-merchants">
  <h1 align = "center">Disabled Merchants</h1>
  <section class = "grid-container">
    <% @merchants.each do |merchant|%>
      <% if merchant.disabled? %>
      <section class = "grid-item", id="merchant-<%= merchant.id %>">
        <h2><%=link_to merchant.name, "/admin/merchants/#{merchant.id}"%></h2>
      </section>
      <% end %>
    <% end %>
  </section>
</div>
