<% @merchant.items.each do |item| %>
<section class='items-<%= item.id %>'>
  <h2>Name: <%= item.name %></h2>
  <li>Description: <%= item.description %></li>
  <li>Price: $<%= item.price %></li>
  <li>Status: Active? <%= item.active? %></li>
  <li>Inventory: <%= item.inventory %></li>
  <p><%= image_tag item.image, width: 200 %></p>
</section>
<% end %>
