<% @merchant.items.each do |item| %>
<section class='items-<%= item.id %>'>
  <h2>Name: <%= item.name %></h2>
  <li>Description: <%= item.description %></li>
  <li>Price: $<%= item.price %></li>
  <li>Active: <%= item.active? %></li>
  <li>Inventory: <%= item.inventory %></li>
  <%if item.image == "" %>
  <p><%= image_tag "coming_soon.jpeg" %></p>
  <% else %>
  <p><%= image_tag item.image %></p>
  <% end  %>
  <br>
   <% if item.active? %>
        <%= link_to "Deactivate", "/merchant/items/#{item.id}", method: :patch %>
        <% if item.item_orders.empty? %>
          <br><p><%= link_to "Delete Item", "/merchant/items/#{item.id}", method: :delete %> (This item has never been ordered)</p>
        <% end %>
      <% else %>
        <p><%= link_to "Activate", "/merchant/items/#{item.id}", method: :patch %></p>
      <% end  %>
    <p><%= link_to "Edit Item", "/merchant/items/#{item.id}/edit"%></p>
</section>
<% end %>
<p><%= link_to "Create Item", "/merchant/items/new", method: :post %></p>

