<% @merchant.items.each do |item| %>
<section class='items-<%= item.id %>'>
  <li>Name: <%= item.name %></li>
  <li>Description: <%= item.description %></li>
  <li>Price: $<%= item.price %></li>
  <%= image_tag(item.image) %>
  <li>Status: Active? <%= item.active? %></li>
  <li>Inventory: <%= item.inventory %></li>
</section>
<% end %>
