<% if @merchant %>
  <h1><%= link_to @merchant.name, "/merchants/#{@merchant.id}"%><span> Items</span></h1>
  <p align="center"><%= link_to "Add New Item", "/merchants/#{@merchant.id}/items/new" %></p>
<% else %>
  <h1>All Items</h1>
<% end %>
<p align="center">Current Discounts: </p>
<% if !@discounts.nil? %>
  <% @discounts.each do |discount|%>
    <p align="center"><%= "#{discount.title} #{discount.percent_discount.to_i}% off a group of like items when you purchase #{discount.minimum_item_quantity}!" %> </p>
  <% end %>
<% end %>
<section class="grid-container">
  <% @items.each do |item| %>
    <% if item.active? %>
    <section class = "grid-item" id= 'item-<%=item.id%>'>
      <h2> <%=link_to item.name, "/items/#{item.id}" %> </h2>
      <p>Sold by: <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}" %></p>
      <%= link_to "/items/#{item.id}" do %>
         <img style="max-width: 60px; max-height: 60px" src= <%= item.image %>>
      <% end %>
      <p> <%= item.description unless @merchant%> </p>
      <p>Price: <%=number_to_currency(item.price) %> </p>
      <p>Inventory: <%= item.inventory %> </p>
        <p>Active</p>
      </section>
      <% end %>
    <% end %>
  </section>
<section class="item_statistics">
  <section id="most-popular-items">
    <h3>Most Popular Items:</h3>
    <% Item.most_popular_items.each do |item| %>
      <li type="1"><%= link_to item.name, "/items/#{item.id}" %>: <%= item.total %> Purchased</li>
    <% end %>
  </section>
  <section id="least-popular-items">
    <h3>Least Popular Items:</h3>
    <% Item.least_popular_items.each do |item| %>
      <li type="1"><%= link_to item.name, "/items/#{item.id}" %>: <%= item.total %> Purchased</li>
    <% end %>
  </section>
</section>
