<h1><%= @user.name %></h1>
<h2><%= @user.email %></h2>
<p><%= @user.address %></p>
<p><%= @user.city + ", " + @user.state %></p>
<p><%= @user.zip %></p>
<% if @user.orders.any? %>
<p><%= link_to "#{@user.name}'s Orders", "/admin/users/#{@user.id}/orders" %></p>
<% end %>
